.cardcontain{
    padding-top: 2rem!important;
}
/*card one details*/
.cardone {
    background: url('marialaura-gionfriddo-II3Vo7MJ9Z0-unsplash.jpg');
    height: 500px !important;
    background-position: center !important;
    background-size: cover !important;
    width: 50% !important;
    border-radius: 180px !important;
    margin: 0 auto !important;
}
.innercard1{
    color: #fff !important;
    padding: 50px !important;
    width: 80% !important;
    backdrop-filter: blur(10px);
    position: relative;
    top: 79px;
    font-size: 2rem!important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

p{
    font-size:16px;
    display: flex !important;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px !important;
}

.cardone:hover {
    filter: drop-shadow(4px 23px 10px #b7b7a4)
 }
 /*card one details*/


.cardy1{
width:100% !important;
display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}
 /*card two details*/
 .cardy2{
    width:100% !important;
    display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;  
}

 .cardtwo {
    background: url('/sppookcity.jpeg');
    height: 500px !important;
    background-position: center !important;
    background-size: cover !important;
    width: 50% !important;
    margin: 0 auto !important;
}
/*
.innercard2{
    color: #fff !important;
    padding: 50px !important;
    width: 80% !important;
    backdrop-filter: blur(10px);
    position: relative;
    top: 79px;
    font-size: 2rem!important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
*/


.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .wrap {
    margin: 2rem;
  
    transform-style: preserve-3d;
    transform: perspective(100rem);
  
    cursor: pointer;
  }
  
  .container1 {
    --rX: 0;
    --rY: 0;
    --bX: 50%;
    --bY: 80%;
  
    width: 30rem;
    height: 36rem;
    border: 1px solid var(--background-color);
    border-radius: 1.6rem;
    padding: 4rem;
  
    display: flex;
    align-items: flex-end;
  
    position: relative;
    transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
  
    background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("https://images.unsplash.com/photo-1559113513-d5e09c78b9dd?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9");
    background-position: var(--bX) var(--bY);
    background-size: 40rem auto;
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
  
    transition: transform .6s 1s;
  }
  
  .container1::before,
  .container1::after {
    content: "";
  
    width: 2rem;
    height: 2rem;
    border: 1px solid #fff;
  
    position: absolute;
    z-index: 2;
  
    opacity: .3;
    transition: .3s;
  }
  
  .container1::before {
    top: 2rem;
    right: 2rem;
  
    border-bottom-width: 0;
    border-left-width: 0;
  }
  
  .container1::after {
    bottom: 2rem;
    left: 2rem;
  
    border-top-width: 0;
    border-right-width: 0;
  }
  
  .container1--active {
    transition: none;
  }
  
  .container1--2 {
    filter: hue-rotate(80deg) saturate(140%);
  }
  
  .container1--3 {
    filter: hue-rotate(160deg) saturate(140%);
  }
  
  .container1 p {
    color: hsla(0, 0%, 100%, .6);
    font-size: 2.2rem;
  }
  
  .wrap:hover .container1::before,
  .wrap:hover .container1::after {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
  }
  
  .abs-site-link {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: hsla(0, 0%, 0%, .6);
    font-size: 1.6rem;
  }