/* antonio's code */

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card-container {
    display: grid;
    place-items: center;
}
.card {
    border: 1px solid grey;
    height: 56vw;
    width: 40vw;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 4px grey;
}
.card-front {
    padding: 0.5em;
}
.icon {
    width: 8vw;
    height: 8vw;
}
.number {
    text-align: center;
    font-size: 4vw;
}
.number > .icon {
    width: 4vw;
    height: 4vw;
}
.rotate {
    transform: rotate(180deg);
}
.row {
    display: flex;
    flex-flow: row wrap;
}
.cell {
    flex: 1;
    text-align: center;
}
.col-1 {
    flex: 0 0 12.5%;
}
.col-2 {
    flex: 0 0 25%;
}
.col-3 {
    flex: 0 0 37.5%;
}
.col-4 {
    flex: 0 0 50%;
}
.col-5 {
    flex: 0 0 62.5%;
}
.col-6 {
    flex: 0 0 75%;
}
.col-7 {
    flex: 0 0 87.5%;
}
.col-8 {
    flex: 0 0 100%;
}
.offset-1 {
    margin-left: 12.5%;
}
.offset-2 {
    margin-left: 25%;
}
.offset-3 {
    margin-left: 37.5%;
}
.offset-4 {
    margin-left: 50%;
}
.offset-5 {
    margin-left: 62.5%;
}
.offset-6 {
    margin-left: 75%;
}
.offset-7 {
    margin-left: 87.5%;
}
.offset-8 {
    margin-left: 100%;
}
.offset-1 {
    margin-left: 12.5%;
    margin-right: -10%;
}
.offset-15 {
    margin-left: 12.5%;
}
.offset-2 {
    margin-left: 25%;
}
.offset-3 {
    margin-left: -5%;
}
.row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-between;
    height: 100%;
    letter-spacing: 0;
    transition: all 3s ease-out;
}
.card:hover {
    transition: background-color 1s, color 3s, fill 1s;
    background-color: #000;
    -webkit-transition: background-color 1s, color 3s, fill 1s;
    -moz-transition: background-color 1s, color 3s, fill 1s;
    -ms-transition: background-color 1s, color 3s, fill 1s;
    -o-transition: background-color 1s, color 3s, fill 1s;
}
.card:hover svg {
    fill: #fff;
}
.card:hover .number {
    color: #fff;
}
.row:hover {
    letter-spacing: 75px;
}


/* end antonio's code */

.cardcontain{
    padding-top: 2rem!important;
}
/*card one details*/
.cardone {
    background: url('marialaura-gionfriddo-II3Vo7MJ9Z0-unsplash.jpg');
    height: 500px !important;
    background-position: center !important;
    background-size: cover !important;
    width: 50% !important;
    border-radius: 180px !important;
    margin: 0 auto !important;
}
.innercard1{
    color: #fff !important;
    padding: 50px !important;
    width: 80% !important;
    backdrop-filter: blur(10px);
    position: relative;
    top: 79px;
    font-size: 2rem!important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

p{
    font-size:16px;
    display: flex !important;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px !important;
}

.cardone:hover {
    filter: drop-shadow(4px 23px 10px #b7b7a4)
 }
 /*card one details*/


.cardy1{
width:100% !important;
display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}
 /*card two details*/
 .cardy2{
    width:100% !important;
    display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;  
}

 .cardtwo {
    background: url('/sppookcity.jpeg');
    height: 500px !important;
    background-position: center !important;
    background-size: cover !important;
    width: 50% !important;
    margin: 0 auto !important;
}

/* .innercard2{
    color: #fff !important;
    padding: 50px !important;
    width: 80% !important;
    backdrop-filter: blur(10px);
    position: relative;
    top: 79px;
    font-size: 2rem!important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
} */



